<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'app/css/css.css' %}" rel="stylesheet">
    <style>.ok{width: fit-content;margin: auto;}</style>
    <title>Document</title>
</head>
<body>
    <br>
    <br>
    <div class="w-75 rounded-4 m-auto bg-black bg-opacity-50 justify-content-center align-items-center ">
        <div class="ok"><button type="button" class="btn bg-danger text-center "><a class=" text-decoration-none text-white"  href="{% url 'pro' %}">profile</a></button></div>
        <div>
            {% if messages %}
                {% for message in messages %}
                <div  class=" bg-primary text-white text-center"><p>{{ message }}</p></div>
                {% endfor %}
            {% endif %}
           </div>
        
           
           <p class="text-center m-auto">Username : {{request.user.username}}</p>
        {% if request.user.is_authenticated %}  
        <form class="m-auto w-50 p-2"  action="" method="POST">
            {% csrf_token %}
            {% for i in passform %}
             {{i.label_tag}}
             {{i}}
      {% if i.errors %}
      <small class="text-danger">{{i.errors | striptags}}</small> <br>
      
      {% endif %}
      <br>
      {% endfor %}
      <input type="submit" class="btn btn-primary mt-4" value="Submit">
        </form>
        {% endif %}
        <div >
        <div class="text-center m-auto">
            <button type="button" class="btn bg-black m-1"><a class=" text-decoration-none text-white"  href="{% url 'login' %}">Login</a></button> <br>
            <button type="button" class="btn bg-black m-1"><a class=" text-decoration-none text-white"  href="{% url 'register' %}">Regster</a></button>
    </div>
    </div>
    


</body>
</html>